/* All */
:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-dark-color: #1d2a3c;
    --blue-light-color: #0078ff;
    --grey-dark-color: #657380;
    --grey-color: #8395a7;
    --grey-middle-color: #dce1e5;
    --grey-light-color: #f9fafb;
    
    /* Size */
    --padding: 16px;

    --min-width: 700px;
    --max-width: 1100px;
    --min-height: 620px;
    
    /* Font Size */
    --font-extra-large: 24px;
    --font-large: 18px;
    --font-medium: 16px;
    --font-small: 13px;

    /* Font Weight */
    --font-heavy: 600;
    --font-medium-weight: 500;
    --font-light: 400;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter, "Noto Sans KR", sans-serif;
    font-weight: var(--font-medium-weight);
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
    box-shadow: none;
    outline: none;
}

textarea {
    word-spacing: -5px;
}

a{
    color: #222;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Header */
header{
    border-bottom: 1px solid var(--grey-middle-color);
}

.header-container{
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--padding);
    
    height: 65px;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

header .logo {
    display: flex;
    align-items: center;

    font-size: calc(var(--font-extra-large)*0.9);
    font-weight: 1000;

    color: var(--blue-dark-color);
}

header .logo i{
    display: inline-block;

    width: var(--font-extra-large);
    height: var(--font-extra-large);

    border-radius: 3px;

    background-color: var(--blue-dark-color);
    color: var(--white-color);

    font-size: var(--font-extra-large);
    margin-right: calc(var(--padding)/2);
    padding-left: 1px;
}

.title.blink {
    display: inline-block;
    margin: -3px;
    font-weight: var(--font-light);

    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    10%, 50% {
        visibility: hidden;
    }
}

header .menu a {
    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);

    color: var(--grey-dark-color);
}

header .menu a:hover {
    color: var(--blue-dark-color);
    font-weight: var(--font-heavy);
}

/* Footer */
footer{
    border-top: 1px solid var(--grey-middle-color);
    
    color: var(--grey-dark-color);

    background-color: var(--grey-light-color);
}

.footer-container{
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--padding);
    
    height: 150px;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

footer a, footer p{
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    text-decoration: none;
}