.content{
    margin: var(--padding) auto;
    display: flex;

    padding: var(--padding);

    gap: var(--padding);

    height: 620px;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.function{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr)); /* 자동으로 버튼 크기를 조정 */
    gap: calc(var(--padding)/2);
    max-height: 100%; /* 최대 높이 지정 */
    overflow-y: auto; /* 수직 스크롤 활성화 */
}

.function button{
    width: 48px;
    height: 48px;

    border: none;
    background-color: transparent;

    border: 1px solid var(--grey-middle-color);
    border-radius: calc(var(--padding)/2);

    font-size: var(--font-small);
}

.function button:hover{
    border: 2px solid var(--blue-dark-color);
    color: var(--blue-dark-color);
    font-weight: var(--font-heavy);
}

.original-text, .corrected-text{
    flex: 1;
    height: 100%;

    overflow-y: auto;

    position: relative;
}

.original-text .title, .corrected-text .title{
    padding: calc(var(--padding)/2);
    height: 35.5px;
    
    text-align: center;

    background-color: var(--blue-dark-color);
    color: var(--white-color);

    position: sticky;
    top: 0;

    border-radius: calc(var(--padding)/2) calc(var(--padding)/2) 0 0;
    border: 1px solid var(--blue-dark-color);
}

.original-text textarea{
    width: 100%;
    height: calc(100% - 35.5px);

    position: sticky;
    top: 35.5px;

    border: none;
    border: 1px solid var(--grey-middle-color);
    border-radius: 0 0 calc(var(--padding)/2) calc(var(--padding)/2);
    
    resize: none;
}

.original-text textarea, #outputText {
    line-height: 1.8; /* 줄간격을 1.5로 수정 */
    font-family: inherit; /* 폰트 패밀리 추가 */
    font-size: var(--font-medium);
    font-weight: var(--font-light);

    padding: var(--padding);

    border: 1px solid var(--grey-middle-color);
    border-radius: 0 0 calc(var(--padding)/2) calc(var(--padding)/2);

    word-wrap: break-word;

    height: calc(100% - 35.5px);
}

.highlight {
    background-color: yellow;

    color: red;
    font-weight: var(--font-heavy); 

    cursor: pointer;
}

.origin {
    display: none;
    
    background-color: var(--grey-middle-color);
    font-weight: var(--font-heavy);

    cursor: pointer;
}