.post-write-container {
    margin: calc(var(--padding)*1.7) auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: var(--padding);
}

h2 {
    font-size: calc(var(--font-extra-large)*1.2);
    color: var(--blue-dark-color);
}

.post-write-container p {
    margin-top: calc(var(--padding)*0.3);
    margin-bottom: calc(var(--padding)*1.7);

    font-size: var(--font-medium);
    font-weight: var(--font-heavy);
    color: var(--grey-dark-color);
}

/* 제목 */
textarea.title {
    font-size: calc(var(--font-extra-large)*1.2);
    font-weight: bold;
    color: var(--blue-dark-color);

    width: 100%;
    height: 70px;
    padding: var(--padding);

    border: 1px solid var(--grey-middle-color);
    border-radius: 5px;

    resize: none;
}

/* 게시글 내용 */
.content {
    width: 100%;
    min-height: calc(var(--min-height)*0.7);

    padding: var(--padding);
    margin: calc(var(--padding)*0.5) 0;

    border: 1px solid var(--grey-middle-color);
    border-radius: 5px;
}

.content:hover {
    outline: none;
    border: 1px solid var(--blue-light-color);
}

.editor-toolbars {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: var(--padding);

    border-bottom: 1px solid var(--grey-middle-color);
}

.editor-toolbars button {
    border: none;
    background: none;
}

.editor-toolbars i {
    font-size: var(--font-large);
}

.editor {
    padding-top: var(--padding);
}

.editor p {
    margin: 0;

    width: 100%;
    min-height: 25px;

    color: rgb(0, 0, 0);
    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
}

.editor img {
    max-width: 100%;
}

.editor p.placeholder {
    color: var(--grey-color);
    font-size: var(--font-medium);
    font-weight: var(--font-light);
} 

.editor:focus {
    outline: none;
}

/* 이름, 비밀번호 및 제출 버튼 */
.signature-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: calc(var(--padding)*0.5);
}

.input-box {
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input-box input {
    width: 200px;

    padding: calc(var(--padding)*0.5);

    border: 1px solid var(--grey-middle-color);
    border-radius: 5px;

    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
}

#postSubmit {
    background-color: var(--blue-dark-color);

    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
    color: var(--white-color);

    height: 80px;
    width: 87px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s;
}

#postSubmit:hover {
    background-color: var(--blue-light-color);
}
