.post-edit-container {
    margin: calc(var(--padding)*1.7) auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: var(--min-height);
    padding: var(--padding);
}

/* 제목 */
textarea.title {
    font-size: calc(var(--font-extra-large)*1.2);
    color: var(--blue-dark-color);

    width: 100%;
    height: 70px;
    padding: var(--padding);

    border: 1px solid var(--grey-middle-color);
    border-radius: 5px;

    resize: none;
}

textarea.title:hover, textarea.title:focus {
    border: 1px solid var(--blue-light-color);
}

/* 작성자 및 날짜 및 메뉴 버튼 */
.post-edit-top {
    display: flex;
    justify-content: space-between;
}

.writer-datetime-box {
    padding-bottom: var(--padding);
}

.writer {
    color: var(--blue-dark-color);
    font-size: var(--font-medium);
    font-weight: var(--font-heavy);
}

.datetime {
    color: var(--grey-dark-color);
    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
}

/* 게시글 내용 */
.content {
    width: 100%;
    height: calc(var(--min-height)*0.7);
    padding: var(--padding);
    border: 1px solid var(--grey-middle-color);
    border-radius: 5px;

    resize: none;

    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
}

/* 버튼 */
.btn-box {
    display: flex;
    justify-content: flex-end;
}

#editSubmitBtn {
    width: 120px;
    height: 45px;
    
    border: none;
    border-radius: 5px;
    background-color: var(--blue-dark-color);

    color: var(--white-color);

    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);

    transition: background-color 0.3s;
}

#editSubmitBtn:hover {
    background-color: var(--blue-light-color);
}

.back {
    font-size: var(--font-medium);
    font-weight: var(--font-medium-weight);
    
    width: 30px;
    height: 30px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover {
    background-color: var(--grey-middle-color);
}