<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="clean up은 전자책 제작 봉사활동을 지원하는 글자 교정 프로그램입니다. 이 프로그램은 잘못된 특수문자의 교정과 맞춤법 검사를 지원하여 전자책 제작 과정을 보다 빠르고 정확하게 만듭니다.">
    <title>clean up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="images/png" href="{{url_for('static', filename='image/logo.png')}}">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <i class="fa-solid fa-arrow-pointer"></i>
                <span class="title">CLEAN UP</span>
                <span class="title blink">|</span>
            </div>
            <div class="menu">
                <a href="{{url_for('get_posts')}}" class="inquiry">집단지성</a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Your Company. All rights reserved.</p>
            <p><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bf37951062.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>