
{% extends "base.html" %} 

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="content">
        <section class="function">
            <button id="grammar">맞춤법</button>
            <button id="combination">combi</button>
            <button id="smallQuote">‘ ’</button>
            <button id="quote">“ ”</button>
            <button id="triangleBracket">〈 〉</button>
            <button id="doubleTriangleBracket">《 》</button>
            <button id="cornerBracket">「 」</button>
            <button id="doubleCornerBracket">『 』</button>
            <button id="wrapBracket">선택( )</button>
            <button id="wrapSmallQuoteBracket">선택‘ ’</button>
            <button id="wrapQuoteBracket">선택“ ”</button>
            <button id="wrapTriangleBracket">선택〈 〉</button>
            <button id="wrapDoubleTriangleBracket">선택《 》</button>
            <button id="wrapCornerBracket">선택「 」</button>
            <button id="wrapDoubleCornerBracket">선택『 』</button>
            
        </section>
        <section class="original-text">
            <div class="title">
                <span>수정 전</span>
                <div id="paste"><i class="fa-regular fa-paste"></i></div>
                <div class="paste-confirm"><i class="fa-solid fa-check"></i></div>
            </div>
            <textarea id="inputText" placeholder="교정할 내용을 입력해주세요."></textarea>
        </section>
        <section class="corrected-text">
            <div class="title">
                <span>수정 후</span>
                <div id="copy"><i class="fa-solid fa-copy"></i></div>
                <div class="copy-confirm"><i class="fa-solid fa-check"></i></div>
            </div>
            <div id="outputText"></div>
        </section>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock extra_js %}
