{% extends "base.html" %} 

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_new.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="post-write-container">
        <h2>집단지성 :</h2>
        <p>개선사항, 사용후기 등 자유롭게 글을 남겨주세요</p>
        <textarea class="title" placeholder="제목을 입력하세요."></textarea>
        <textarea class="content" placeholder="내용을 입력하세요."></textarea>
        <div class="signature-box">
            <div class="input-box">
                <input type="text" id="username" placeholder="이름을 입력하세요.">
                <input type="password" id="password" placeholder="비밀번호를 입력하세요.">
            </div>
            <button id="postSubmit">작성하기</button>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/post_new.js') }}"></script>
{% endblock extra_js %}
