{% extends "base.html" %} 

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="post-list-container">
        <h2>집단지성 :</h2>
        <p>개선사항, 사용후기 등 자유롭게 글을 남겨주세요</p>
        <div class="post-list-header">
            <div class="search-box">
                <input type="text" placeholder="제목 검색" class="search-input">
                <div class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
            <button class="post-write-btn">새 글 작성</button>
        </div>
        <table>
            <tr>
                <th class="table-title">제목</th>
                <th class="table-writer">작성자</th>
                <th class="table-datetime">작성일</th>
                <th class="table-comment-cnt">댓글</th>
            </tr>
            {% if posts|length == 0 %}
                <tr>
                    <td colspan="4">작성된 게시글이 없습니다.</td>
                </tr>
            {% else %}
                {% for pid, post in posts %}
                    <tr>
                        <td><a href="{{url_for('get_post', pid=pid)}}">{{post.title}}</a></td>
                        <td>{{post.username}}</td>
                        <td>{{post.datetime[:10]}}</td>
                        <td>{{post.comments|length}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <div class="pagination">
            {% if page > 1 %}
                <div class="prev" data-page="{{ page - 1 }}"><i class="fa-solid fa-angle-left"></i></div>
            {% endif %}
            {% set total_pages = (total_count // 10) + (1 if total_count % 10 != 0 else 0) %}
            <div class="number-box">
                {% for i in range(1, total_pages + 1) %}
                    <div class="{% if i == page %}active{% endif %}" data-page="{{ i }}">{{ i }}</div>
                {% endfor %}
            </div>
            {% if page < total_pages %}
                <div class="next" data-page="{{ page + 1 }}"><i class="fa-solid fa-angle-right"></i></div>
            {% endif %}
        </div>        
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock extra_js %}
