{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_edit.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="post-edit-container">
        <div class="post-edit-top">
            <div class="writer-datetime-box">
                <p class="writer">{{ post.username }}</p>
                <p class="datetime">{{ post.datetime|format_datetime }}</p>
            </div>
            <div class="back">
                <a href="{{ url_for('get_post', pid=pid) }}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
        <textarea class="title" placeholder="제목을 입력하세요.">{{ post.title }}</textarea>
        
        <div class="content editor-container">
            <div class="editor-toolbars">
                <input type="file" id="imageUpload" style="display:none;" accept="image/*">
                <button type="button" id="imageButton" class="control-base"><i class="fa-regular fa-image"></i></button>
            </div>
            <div class="editor" contenteditable="true">{{ post.content|safe }}</div>
        </div>

        <div class="btn-box">
            <button id="editSubmitBtn">수정</button>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/post_edit.js') }}"></script>
{% endblock extra_js %}
