{% extends "base.html" %} 

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="post-list">
        <div id="toPostWrite"><a href="{{url_for('get_posts')}}">toPosts</a></div>
        <button id="deletePost">삭제</button>
        <button id="updatePost">수정</button>
        
        <div class="confirm-box">
            <button class="back">X</button>
            <p>게시글 비밀번호를 입력해주세요.</p>
            <input type="password" id="password">               
            <button id="postPasswordSubmit">확인</button>
        </div>

        <div>
            <input type="hidden" id="pid" value="{{pid}}">
            {{post.title}}
            {{post.content}}
            {{post.datetime}}
        </div>

        <div class="comments-list">
            <div class="comment-write">
                <textarea id="comment"></textarea>
                <input type="password" id="cPassword">
                <button id="comment-submit">댓글달기</button>
            </div>

            <div class="comment-confirm-box">
                <button class="back">X</button>
                <p>댓글 비밀번호를 입력해주세요.</p>
                <input type="password" id="commentPassword">               
                <button id="commentPasswordSubmit">확인</button>
            </div>
            
            <ul id="commentList">
            </ul>
        </div>

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock extra_js %}
